@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;700&display=swap');

body {
  box-sizing: border-box;
  margin: 0;
  font-family: 'Poppins', sans-serif;
}

html,body
{
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
}

main{
  padding-top: 20px;
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #DFE3E8;
  min-height: 100vh;
}

header{
  padding: 20px;
  color: #F9FAFB;
  background-color: #4062FF;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  display: flex;
}

.content{
  align-items: center;
  justify-content: center;
  flex-direction: column;
  display: flex;
}

input{
  background-color: #F9FAFB;
  border: none;
  padding: 10px;
  margin: 10px 0;
  border-radius: 5px;
}
