.coin{
    display: flex;
    background-color: #F9FAFB;
    border-bottom: 3px solid #9d9090;
    border-radius: 15px;
    align-items: center;
    margin-bottom: 20px;
    flex-direction: row;
    padding: 20px;
    justify-content: space-between;
}
.coin__main{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px
}
.coin__main__name{

}
.coin__price{
    display: flex;
    align-items: center;
    gap: 20px;
}
.priceChange{
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}
@media screen and (max-width: 600px){
    .priceChange{
        display: none;
    }
    .coin{
        flex-direction: column;
    }
}